<div class="row">
    <h1>Home</h1>

    <!-- Mahasiswa Studi Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2 text-left">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Mahasiswa
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">150</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="/Mahasiswa" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

    <!-- Perusahaan Studi Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2 text-left">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Perusahaan
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">150</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="/Perusahaan" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

        <!-- Report Nilai Studi Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2 text-left">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Report Nilai
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">150</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="/ReportNilai" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            </div>

    <!-- Surat Sidang Studi Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2 text-left">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Surat Sidang
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">150</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                            <div class="icon">
                                <i class="ion ion-bag"></i>
                            </div>
                            <a href="/SuratSidangTugasAkhir" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                </div>

    <!-- Jadwal Sidang Studi Card Example -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card border-left-primary">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2 text-left">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Jadwal Sidang
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">150</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                </div>
                                <div class="icon">
                                    <i class="ion ion-bag"></i>
                                </div>
                                <a href="/JadwalSidang" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                  </div>
